header {
  text-align: center;
}

.content {
  width: 100%;
  margin: 0 auto;
}

#alphabet,
#word {
  grid-column: 2/3;
  display: flex;
  gap: 8px;
  height: 50px;
}

#alphabet {
  margin-bottom: 30px;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#word {
  grid-row: 2/3;
}

.letters {
  cursor: pointer;
  width: auto;
}

#reset {
  grid-row: 4/5;
  grid-column: 2/3;
}

#hint {
  grid-row: 3/4;
  grid-column: 2/3;
}

#message {
  grid-column: 1/3;
  grid-row: 5/6;
  font-size: xx-large;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  width: 250px;
  height: 2.5rem;
  font-size: 20px;
  font-family: UI-MONOSPACE;
  border-radius: 4rem;

}

.button:hover,
.used {
  background: slategray;
}

#imgDiv {
  position: absolute;
  height: 500px;
  width: 500px;
  grid-column: 1/2;
}

main {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 100px 122px;
  gap: 30px;
  margin-inline: 15%;
}

.img {
  position: relative;
  display: none;
}